/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "ekgo.dtsi"

&ekgo_transform {
    col-offset = <6>;
};



&kscan0 {
    col-gpios
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>
		, <&pro_micro 18 GPIO_ACTIVE_HIGH>
		, <&pro_micro 15 GPIO_ACTIVE_HIGH>
		, <&pro_micro 14 GPIO_ACTIVE_HIGH>
		, <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};


&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 12)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 26)>,
                    <NRF_PSEL(SPIM_MISO, 0, 5)>; 
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 12)>,  
                    <NRF_PSEL(SPIM_MOSI, 0, 26)>,
                    <NRF_PSEL(SPIM_MISO, 0, 5)>; 
            low-power-enable;
        };
    };
};



&pro_micro_i2c {
    status = "disabled";
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>, // nice view
               <&gpio1 2 GPIO_ACTIVE_LOW>; // trackball
    
    nice_view_spi: nice_view_spi@0 {
        status = "okay";
        compatible = "nordic,nrf-spim"; // Verify if this should be the display driver instead
        reg = <0>;
    };

    glidepoint: glidepoint@0 {
        compatible = "cirque,pinnacle";
        reg = <1>;
        spi-max-frequency = <1000000>;  /* 1 MHz safe starting point */
        status = "okay";
        data-ready-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>; 
        primary-tap-enable;
        sensitivity = "1x";  /* Optional: adjust tracking sensitivity */
        invert-x;
        sleep-mode-enable;
        //swap-90; //<--error
        /* no-taps; */             /* Optional: disable tap gestures if undesired */
        /* tap-enable; scroll-enable; */  /* Enable as desired */
    };
};


&glidepoint_split {
    device = <&glidepoint>;
};
